.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.library {
    min-height: 1vh;
    max-height: 10vh;
}

.row {
    margin-top: 2em;
    margin-bottom: 1em;
}

.button-spotify-login {
    background-color: #1db954; /* Green */
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    color: #fff;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

.button-spotify-login:hover{
    background-color: #1ed760; /* Green */

}
